blinker==1.8.2
boltons==24.0.0
cachetools==5.5.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
Flask-HTTPAuth==4.8.0
google-auth==2.40.3
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
kubernetes==30.1.0
MarkupSafe==2.1.5
oauthlib==3.2.2
packaging==24.1
pyasn1==0.6.1
pyasn1-modules==0.4.2
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.4
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
urllib3==2.5.0
websocket-client==1.8.0
Werkzeug==3.0.6
