<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %} {% endblock %} - Kronic</title>
  <link rel="stylesheet" href="/css/pico.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <style>
    textarea {
      font-family: monospace;
    }
  </style>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>

<body>
  <nav class="container-fluid">
    <ul>
      <li><strong>
        <a href="/">
          <img src="/favicon-32x32.png" />
          Kronic
        </a></strong> - simple k8s CronJob Manager
      </li>
    </ul>
    <ul>
      <li><a href="https://github.com/mshade/kronic">GitHub</a></li>
    </ul>
  </nav>
  <main class="container">
    {% block content %} {% endblock %}
  </main>
</body>

</html>