<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %} {% endblock %} - Kronic</title>
  <link rel="stylesheet" href="/css/pico.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <style>
    textarea {
      font-family: monospace;
    }
  </style>
</head>

<body>
  <nav class="container-fluid">
    <ul>
      <li><strong><a href="/"> Kronic</a></strong> - simple k8s CronJob Manager</li>
    </ul>
    <ul>
      <li><a href="https://github.com/mshade/kronic">GitHub</a></li>
    </ul>
  </nav>
  <main class="container">
    {% block content %} {% endblock %}
  </main>
</body>

</html>